@charset "UTF-8";
*{
  box-sizing: border-box;
}
html, body{
  font-size: 16px;
  font-family: 'arial';
  color: #393939;
  background: #fff;
}
body, div, p, h1, h2, h3, h4, ul, figure{
  margin: 0;
  padding: 0;
}
td, th{
  line-height: 1.8;
}
img{
  width: 40px;
  height: auto;
}
li{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: black;
}
.container{
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}
@media(max-width: 980px){
  .container{
    width: 680px;
    padding: 0;
  }
}
@media(max-width: 780px){
  .container{
    width: auto;
    padding: 0;
  }
}
.clear{
  clear: both;
}

/*-------header---------*/
.header-container{
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  max-width: 1100px;
}
.header-left{
  width: 33%;
}
.header-right{
  width: 60%;
  padding-top: 40px;
}
.header-glass{
  padding-top: 40px;
  width: 7%;
  text-align: right;
  font-size: 25px;
}
.hamburger{
  display: none;
}
.header-left h1{
  font-size: 40px;
}
.nav{
  display: flex;
}
.nav-bar{
  padding-right: 40px;
}

@media screen and (max-width: 1000px){
  .header-container{
    display: block;
  }
  .header-right{
    width: auto;
    float: left;
  }
  .header-glass{
    float: right;
  }
}
@media screen and (max-width: 780px){
  .header-left h1{
    font-size: 30px;
  }
  .header-container{
    padding: 40px 20px;
  }
  .header-left{
    float: left;
  }
  .header-right{
    display: none;
  }
  .header-glass{
    display: none;
  }
  .hamburger{
    float: right;
    display: block;
    font-size: 30px;
    position: fixed;
    top: 10px;
    right: 10px;
  }
}

/*-------main---------*/
/*-------main-image---------*/
.main-img-container img{
  padding-top: 70px;
  width: 100%;
  height: auto;
}
.main-word{
  padding: 80px 0;
  font-size: 27px;
}
.main-word p{
  color: gray;
  line-height: 50px;
}

/*-------main-page---------*/
.content{
  padding: 30px 0;

}
.content p{
  padding-top: 20px;
    color: gray;
    line-height: 30px;
}
@media screen and (max-width: 780px){
  .main-container{
    padding: 0 20px;
  }
  .page-container
  {
    padding: 0 20px;
  }
}
/*-----------footer-------------*/
/*----------footer-top------------*/
.footer-top, .footer-bottom{
  display: flex;
  border-top: 1px solid gainsboro;
  padding-top: 60px;
  padding-bottom: 80px;
}
.footer-left, .footer-right, .footer-center1, .footer-center2{
  width: 25%;
}
.footer-left{
  padding-right: 20px;
}
.footer-left img{
  width: 100px;
  height: auto;
  display: inline-block;
  padding-bottom: 20px;
}
.footer-face-icon{
  display: flex;
}
.icon{
  padding-top: 20px;
  padding-left: 25px;
}
.icon h3{
  font-size: 18px;
  color: black;
  padding-bottom: 10px;
}
.icon a{
  font-size: 22px;
  padding-right: 10px;
  color: gray;
}
.footer-center1{
  padding-left: 20px;
  padding-right: 20px;
}
.footer-center2, .footer-right{
  padding-left: 20px;
}
.footer-top h4{
  padding-bottom: 30px;
  font-size: 15px;
}
.footer-top p{
  color: gray;
}
.footer-a a{
  display: inline-block;
  color: gray;
  border-bottom: 1px solid darkgray;

}
.footer-right a{
  margin-bottom: 20px;
}
.footer-center2 a{
  margin-bottom: 10px;
}
.footer-center2 p{
  color: darkgray;
  font-size: 14px;
  padding-bottom: 20px;
}
.footer-a a:hover{
  color: goldenrod;
  transition: 0.3s;
}
@media screen and (max-width: 1000px){
  .footer-top{
    display: block;
  }
  .footer-left, .footer-right, .footer-center1, .footer-center2{
    width: 100%;
  }
  .footer-center1{
    padding: 40px 0;
  }
  .footer-center2, .footer-right{
    padding: 40px 0;
  }
}
@media screen and (max-width: 780px){
  .footer-container{
    padding: 0 20px;
  }
}

/*---------footer-bottom-----------*/
.footer-icon{
  padding:0 0;
  padding-right: 20px;
}
.footer-write{
  padding-left: 200px;
}
.footer-write p{
  color: gray;
}
@media screen and (max-width: 1000px){
  .footer-bottom{
    display: block;
  }
  .footer-icon i{
    font-size: 24px;
    padding-right: 10px;
  }
  .footer-write{
    padding: 0 0;
    padding-top: 30px;
  }
}
